{% extends 'index.html' %}
{% load static %}
{% block content %}


    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'advocate/assets/img/hero/law_hero2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Book a consultation</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
                
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Book a consultation</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="{% url 'u_login' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                               
                               
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>
                                
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <input class="form-control valid" name="password" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Create Password'" placeholder="Password">
                                    </div>
                                </div>
                            
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Login</button>
                            </div>

                            <div class="form-group mt-3">
                                <a href="{% url 'user_register' %}"><p>New User Sign Up</p></a>
                                <a href="{% url 'lawyer_register' %}"><p>New Lawyer Sign Up</p></a>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Need immediate legal advice?</h3><br>
                                <p>Get register with us prior, post your query and our team will offer you a helping hand in no time. You can book a consultation with the lawyer of your choice and concerning practice area and can get a response in 2 to 4-hours. The consultation can be done via phone or video.</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->

 

{% endblock %}