{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lawyer HTML-5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'advocate/assets/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'advocate/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'advocate/assets/css/style.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'advocate/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-1 col-md-1">
                        <div class="logo">
                        <a href="index.html"><img src="{% static 'advocate/assets/img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8 col-md-6">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">  
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="">Find A Lawyer</a>
                                        <ul class="submenu">
                                            {% for i in data %}
                                            <li><a href="{% url 'find_lawyer' law=i.name %}">{{i.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="{% url 'book_consultation' %}">Book a Consultation</a></li>
                                   
                                    <li><a href="{% url 'user_login' %}">Login/Register</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>             
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <!-- Header-btn -->
                        <div class="header-btn d-none d-lg-block f-right">
                            <a href="#" class="btn header-btn">Free Consultation</a>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

{% block content %}
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'advocate/assets/img/hero/h1_hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <p data-animation="fadeInUp" data-delay=".6s">Professional lawyers</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >We will fight<br>
                                        for you like a friend </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-bottom"  >
                        <div class="slider-bottom-cap" data-animation="fadeInLeft" data-delay=".6s">
                            <p>Schedule a Free Consultation 24/7</p>
                            <span>01654.066.456</span>
                        </div>
                        <div class="slider-video d-flex align-items-center" data-animation="fadeInRight" data-delay=".8s">
                            <a class="popup-video ani-btn" href="https://www.youtube.com/watch?v=1aP-TXUpNoU">
                            <img src="{% static 'advocate/assets/img/icon/video_btn.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <p data-animation="fadeInUp" data-delay=".6s">Professional lawyers</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >We will fight<br>
                                        for you like a friend </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-bottom"  >
                        <div class="slider-bottom-cap" data-animation="fadeInLeft" data-delay=".4s">
                            <p>Schedule a Free Consultation 24/7</p>
                            <span>01654.066.456</span>
                        </div>
                        <div class="slider-video d-flex align-items-center" data-animation="fadeInRight" data-delay=".8s">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU">
                            <img src="{% static 'advocate/assets/img/icon/video_btn.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- slider Area End-->

        <!-- Legal Practice Area start -->
        <div class="legal-practice-area section-padding30">
            <div class="container">
                  <!--Section Tittle  -->
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mb-70">
                            <h2>Our Areas of Expertise.</h2>
                        </div>
                    </div>
                </div>
                <!-- single items -->
                <div class="row">
                    {% for i in data %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-practice mb-30">
                            <div class="practice-img">
                                <img src="{{i.law_image.url}}" style="width: 360px; height: 262px;" alt="">

                                <!-- "practice-icon-->
                                <div class="practice-icon">
                                    <i class="flaticon-care"></i>
                                </div>
                            </div>
                            <div class="practice-caption">
                                <h4><a href="#">{{i.name}}</a></h4>
                                <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit, sed do eiusmod tem incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- Legal Practice Area End-->

        <!-- About Law Start-->
        <div class="about-low-area about-bg about-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <!-- section tittle -->
                        <div class="section-tittle section-tittle-l mb-70">
                            <h2>About Just Law</h2>
                        </div>
                        <div class="about-caption mb-100">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                           <!-- Counter Up -->
                            <div class="count-clients">
                                <div class="single-counter text-center">
                                    <span class="counter">250</span>
                                    <p>Happy Clients</p>
                                </div>
                                <div class="single-counter text-center">
                                    <span class="counter">920</span>
                                    <p>Wining Case</p>
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img f-left">
                                <img src="{% static 'advocate/assets/img/about/about-low-front.jpg' %}" alt="">
                            </div>
                            <div class="about-back-img f-right d-none d-md-block">
                                <img src="{% static 'advocate/assets/img/about/about-low-back.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->

        <!-- Contact form Start -->
        <div class="contact-form bg-height pb-160" data-background="assets/img/about/contact_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="form-wrapper">
                        <!--Section Tittle  -->
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle-f text-center mb-70">
                                        <h2>Free Consultation</h2>
                                    </div>
                                </div>
                            </div>
                            <!--End Section Tittle  -->
                            <form id="contact-form" action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box user-icon mb-30">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box email-icon mb-30">
                                        <input type="text" name="email" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-30">
                                    <div class="select-itms">
                                        <select name="select" id="select2">
                                            <option value="">Health Law</option>
                                            <option value="">Arafath Miya</option>
                                            <option value="">Shakil Miya</option>
                                            <option value="">saiful islam</option>
                                            <option value="">Tamim Sharker</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box subject-icon mb-30">
                                        <input type="Email" name="subject" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-box message-icon mb-30">
                                        <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                    </div>
                                   <div class="submit-info">
                                        <button class="submit-btn2" type="submit">Submit Now</button>
                                   </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact form End -->
 

    </main>
{% endblock %}
   <footer>
     
       <!-- footer-bottom aera -->
       <div class="footer-bottom-area footer-bg">
           <div class="container">
               <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
       <!-- Footer End-->
   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'advocate/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'advocate/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'advocate/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'advocate/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'advocate/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'advocate/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'advocate/assets/js/slick.min.js' %}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'advocate/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'advocate/assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'advocate/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'advocate/assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'advocate/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'advocate/assets/js/jquery.sticky.js' %}"></script>
        
        <!-- counter , waypoint -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="{% static 'advocate/assets/js/jquery.counterup.min.js"></script>

        <!-- counter -->
        <script src="{% static 'advocate/assets/js/contact.js' %}"></script>
        <script src="{% static 'advocate/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'advocate/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'advocate/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'advocate/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'advocate/assets/js/plugins.js' %}"></script>
        <script src="{% static 'advocate/assets/js/main.js' %}"></script>
        
    </body>
</html>