{% extends 'adminindex.html' %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           <H1>USER DETAILS</H1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<!-- {% if data %} -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">View Users</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Lawyer Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Approval</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                {% for i in data %}
                 
                  <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td><a href="{% url 'approve_user' id=i.id %}"><span class="badge badge-danger">Approve</span></a></td>
                    <td><span class="badge badge-danger">DELETE</span>
                    </td>
                  </tr>
                
                 {% endfor %}

                  </tbody>
                 
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

         
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% endif %}

{% if data1 %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Approved Users</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Lawyer Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for i in data1 %}
                 
                  <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                   
                    <td><span class="badge badge-danger">DELETE</span>
                    </td>
                  </tr>
                
                 {% endfor %}

                  </tbody>
                 
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

         
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% endif %}
  </div>

{% endblock %}